.gimmegimme {
    height: 400px;
    width: 400px;
    background: url("portals-01.png") 0 0 no-repeat;
    animation: balltal 1.8s steps(21) infinite; 
}
@keyframes balltal {
    0%   {background-position: 0px;} 
    100% {background-position: -8400px;}
}